.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.topContainer > *:not(:last-child) {
  margin-bottom: 2rem;
}

.insideContainer {
  position: relative;
}

.imageContainer {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  row-gap: 3rem;
}

.imagePlaceholder {
  width: 350px;
  height: 350px;
  background-color: #d9d9d9;
  border: 1px solid black;
}

#downloadIcon {
  position: absolute;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
}

.imageLoading {
  width: 350px;
  height: 350px;
  background-color: #d9d9d9;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsWhiteContainer {
  position: absolute;
  right: 4rem;
  top: 2rem;
}

.iconsWhiteContainer > *:not(:last-child) {
  margin-right: 1rem;
}

.iconsWhiteContainer > * {
  cursor: pointer;
}
