@font-face {
  font-family: amontesa;
  src: url("./assets/fonts/Amontesa.ttf");
}

:root {
  font-family: amontesa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
